/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */
/**
$accentColor = #3eaf7c
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34

$accentColor = #457b9d
$textColor = #1d3557
$borderColor = #f1faee
$codeBgColor = #e63946
*/
$accentColor = #eb5e28
$textColor = #403d39
$borderColor = #fffcf2
$codeBgColor = #252422